<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Administração de Usuários </title>
        <link rel="stylesheet" th:href="@{/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css}">
        <script th:src="@{/jquery-3.6.3/jquery-3.6.3.min.js}"></script>
        <script th:src="@{/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js}"></script>
    </head>

    <body>
        <div th:insert="Fragmentos/pesquise-bar :: nav"></div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h1> Lista de Usuários </h1>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> Nome </th>
                                <th> CPF </th>
                                <th> Data de Nascimento </th>
                                <th> E-mail </th>
                                <th> Papel </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:if="${usuarios.empty}">
                                <td colspan="2"> Sem Usuário </td>
                            </tr>

                            <tr th:each="usuario : ${usuarios}">
                                <td><span th:text="${usuario.nome}"> Nome </span></td>
                                <td><span th:text="${usuario.cpf}"> CPF </span></td>
                                <td><span th:text="${#dates.format(usuario.dataNascimento, 'dd/MM/yyyy')}"> Data de Nascimento </span></td>
                                <td><span th:text="${usuario.email}"> E-mail </span></td>
                                <td>
                                    <th:block th:each="pp : ${usuario.papeis}">
                                        <span th:text="${pp.papel}"> Papel </span> <br/>
                                    </th:block>
                                </td>
                                <td>
                                    <a class="btn btn-outline-danger btn-sm" th:href="@{/usuario/admin/apagar/{id}(id=${usuario.id})}" data-confirm-delete="Você vai mesmo apagar este usuário" onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"> 
                                        Apagar
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/usuario/admin/editar/{id}(id=${usuario.id})}" class="btn btn-outline-primary btn-sm"> 
                                        Editar
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/usuario/admin/editar/papeis/{id}(id=${usuario.id})}" class="btn btn-outline-primary btn-sm"> 
                                        Papeis
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>